.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.about-container {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.about-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about-content {
    margin-top: 50px;
    width: 70%;
}


.abt-title {
    font-size: 50px;

}

.text-container {
    width: 30%;
    height: 600px;
    outline: solid 1px white;
    background-color: #FBF5F3;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); 
}

.inner-txt-container {
    padding: 20px;
    text-align: center;
}

.inner-txt-container h2 {
    color: black;
}

.inner-txt-container p {
    color: black;
}

.heading-center {
    text-align: center;
}