:root {
  --color-primary: #121212;
  --color-secondary: #FFF5EB;
  --color-tertiary: rgba(255, 255, 255, 0.5);
}

* {
  font-family: 'Roboto', sans-serif;
  color: var(--color-secondary);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-primary);
  line-height: 1.6;
}

header {

  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav {
  width: 100%;
  display: flex; 
  justify-content: center; 
}

.navbar {
  display: flex;
flex-direction: row;
}

.navLink {
  list-style-type: none;
  padding: 10px;

}

.navLink a {
  text-decoration: none;
}

footer {
  background-color: var(--color-primary);
  padding: 5px 10px;
  text-align: center;
  margin-top: 30px
}

.Ftext {
  font-size: small;
}

@media (max-width: 932px) {
.navLink {
  text-align: center;
}
}