.projects-container {
    display: flex;
    width: 80%;
    flex-wrap: wrap;

    flex-direction: row;
}

.portfolio-container {
    display: flex;
    justify-content: center;
}

@media (max-width: 932px) {
    .projects-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}