.ctd-img {
    width: 9%;
}

.resume-header {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.title-res {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 50px;
}